<h2 style="margin-bottom: 0.5em">Specify Extras</h2>
<p>Select the options</p>

<section style="box-sizing: border-box; padding-right: 2em; margin-bottom: 1em;">
	<h4 style="margin-bottom: 0.5em">Binding</h4>
  	<table class="alt">
		<tbody>
			<tr> 
				<th width="70%">Item</th>
    			<th width="30%">$USD</th>
    		</tr>
    		<tr>
    			<td>
    				<input class="binding" value="160" type="checkbox" id="Checkbox1" name="binding-top" data-toggle="checkbox"> 
    				<label class="checkbox" for="Checkbox1">Top binding</label>
    			</td>
    			<td>
    				<p>$160</p>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				<input class="binding" value="160"  type="checkbox" id="Checkbox2" name="binding-bottom" data-toggle="checkbox"> 
					<label class="checkbox" for="Checkbox2">Bottom binding</label>
				</td>
				<td>
					<p>$160</p>
				</td>
			</tr>
			<tr>
    			<td>
    				<input class="binding" value="160"  type="checkbox" id="Checkbox3" name="binding-fhole" data-toggle="checkbox"> 
					<label class="checkbox" for="Checkbox3">F-hole binding</label>
				</td>
				<td>
					<p>$160</p>
				</td>
			</tr>
			<tr>
    			<td>
    				<input class="binding" value="220"  type="checkbox" id="Checkbox4" name="binding-neck" data-toggle="checkbox"> 
					<label class="checkbox" for="Checkbox4">Neck binding</label>
				</td>
				<td>
					<p>$220</p>
				</td>
			</tr>
		</tbody>
	</table>
</section>