<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
<!-- Main -->
<div id="main" class="alt">
	<section>
		<form class="inner row uniform" id="extra-features" action="https://formspree.io/xnqoqbjw" method="POST">
			<div class="12u 12u(small)" style="margin-bottom: 2em;">
				<div class="100%">
					<a href="{{ '/guitars' | relative_url }}">Guitars</a><p style="display: inline-block;">&nbsp;&nbsp;/&nbsp;&nbsp;{{ page.title }}</p>
				</div>
				<h1>Design your own {{ page.title }}</h1>
				<hr/>
				<h3>{{ page.description }}</h3>
			</div>
			<div class="8u 12u(small)">

				{% include extras-form.html %}
				
			</div>

			{% include stickyquote.html %}

		</form>
	</section>
</div>

    {% include footer.html %}

</body>
</html>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Form Script -->
<script>
function updateTotals() {
    var inputs = document.getElementById('extra-features').getElementsByTagName('input');

    var sum = {{ page.price-usd }};
    for (var i = 0, num = inputs.length; i < num; i++) {
        if (inputs[i].checked) {
            sum += parseInt(inputs[i].getAttribute('value'));
        }
    }

    var customisations = sum - {{ page.price-usd }};

    document.getElementById('payment-custom').innerHTML = '$' + customisations;
    document.getElementById('payment-total').value = '$' + sum;
    document.getElementById('next').value = '/order-placed?deposit=' + (sum*0.25);
    
}
var section = document.getElementById('extra-features');
var inputs = section.getElementsByTagName('input');
for (var i = 0, num = inputs.length; i < num; i++) {
    inputs[i].addEventListener('change', updateTotals);
}
</script>
